
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    margin: 10px;
    h1{
        font-size: 38px;
        margin: 10px;
    }
    p{
        font-size: 18px;
        margin-top: 0px;
    }
    a{
        // text-decoration: none;
        // color: white;
        // background-color:#0c9271 ;
        button{
            width: 80px;
            height: 40px;
            margin: 0 10px;
            // padding: 10px;
            background-color: #0c9271;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            p{
                margin: auto;
            }
            &:hover{
                cursor: pointer;
                background-color: rgb(6, 117, 89);
            }
           
        }

    }
}

@media only screen and (max-width: 600px) {
    .home{
        h1{
            font-size: 18px;
        }
        button{
            width: 60px;
            height: 30px;
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
        .Logo-icon{
            transform: scale(0.8);
        }
    }
}